$responsive-breakpoints: (
	mobile-min: 320px,
	mobile-l-min: 375px,
	mobile-large-l-min: 414px,
	tablet-min: 768px,
	tablet-l-min: 960px,
);

$media-queries: (
	mobile: 'all and (min-width: #{map-get($responsive-breakpoints, mobile-min)})',
	// -----------------------------------------------------------------------------------------------------------------
		mobile-landscape: 'all and (min-width: #{map-get($responsive-breakpoints, mobile-l-min)})',
	mobile-large-landscape: 'all and (min-width: #{map-get($responsive-breakpoints, mobile-large-l-min)})',
	tablet: 'all and (min-width: #{map-get($responsive-breakpoints, tablet-min)})',
	tablet-landscape: 'all and (min-width: #{map-get($responsive-breakpoints, tablet-l-min)})',
);

@mixin media($device) {
	@if $device != '' {
		@media #{map-get($media-queries, $device)} {
			@content;
		}
	}
}
